.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.bar {
  width: 100%;
  height: 3vh;
  background-color: var(--clr-bar);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
}

.header-area {
  width: 43vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header-area h2 {
  color: var(--clr-title);
  font-size: 1.5rem;
}

.main-area {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.rules {
  width: 20vw;
  background-color: var(--clr-containers);
  padding: 1.2rem;
  padding-right: 1.7rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

ul {
  list-style-type: none;
}

ul>li {
  position: relative;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

ul>li:before {
  content: "•";
  font-size: 1.3rem;
  font-weight: bolder;
  position: absolute;
  left: 0;
}

.queue {
  width: 43vw;
  padding: 0.7rem;
  background-color: var(--clr-containers);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.queue>h3 {
  margin: 0.5rem;
}

h3 {
  color: var(--clr-title);
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.client-area {
  margin: 1rem 0.5rem;
}

.name {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.your-name {
  background-color: #e2e2e2;
  border: 1px dashed black;
  border-radius: 3px;
  padding: 0.5rem;
}

.form-area{
  width: 100%;
  display: flex;
  gap: 1rem;
}
.input-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#name {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5px;
  font-weight: bold;
  color: black;
  background-color: #e2e2e2;
}

#name:focus {
  outline: none;
}

#paes-amount {
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
  font-weight: bold;
  color: black;
  background-color: #e2e2e2;
}
#paes-amount:focus {
  outline: none;
}
#btn {
  background-color: var(--background);
  border: 4px solid var(--clr-title);
  border-radius: 3px;
  width: 6vw;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--clr-title);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-area {
    width: 60vw;
  }

  .main-area {
    width: 100vw;
    justify-content: space-around;
    gap: 3px;
  }

  .rules {
    width: 35%;
    font-size: 1rem;
    padding: 1rem;
  }

  .queue {
    width: 60%;
  }

  #btn {
    width: 10vw;
  }
}

@media (max-width: 425px) {
  .header-area {
    flex-direction: column;
    gap: 1.5rem;
  }

  .main-area {
    width: 95vw;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .rules {
    width: 100%;
  }

  .queue {
    width: 100%;
  }
  .form-area{
    gap: 0;
  }
  #btn {
    width: 20vw;
  }
}